.hover-menu{
    margin-top:100px;
    width:55rem;
    height:300px;
    background-color:red;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, rem);   
     padding: 10px;

  }
  .grid-item {
    padding: 20px;
    text-align: center;
  }